*.pyc
token.json
credentials.json
database/token.json
database/cache.json
database/setting.json
logs
database/google_token.json
twitch_token.json
user_token.json
member_names.json
database/google_client_credentials.json
poetry.lock
